<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="Z_CognosIN">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="Z_CognosIN_soap12">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://sr-vm-051.corp.gidroogk.com:8000/pm0/cognos_source"
                binding="customBinding" bindingConfiguration="Z_CognosIN"
                contract="SapService.Z_CognosIN" name="Z_CognosIN" />
            <endpoint address="http://sr-vm-051.corp.gidroogk.com:8000/pm0/cognos_source"
                binding="customBinding" bindingConfiguration="Z_CognosIN_soap12"
                contract="SapService.Z_CognosIN" name="Z_CognosIN_soap12" />
        </client>
    </system.serviceModel>
</configuration>